<div class="container mx-auto ">
  <section class="text-center flex justify-center items-center ">
    <div class="p-5 bg-image" style="height: 300px;"></div>
    <div class="bg-white/30 w-full md:w-[70%] rounded-[40px] backdrop-blur-sm mt-5 md:mt-0">
      <div class="card-body py-5 px-5 md:px-10">
        <div class="md:w-3/4 lg:w-1/2 mx-auto">
          <p class="text-3xl font-bold mb-5">Bejelentkezés</p>
          <form>
            <div class="mb-4">
              <label for="email" class="text-lg font-bold text-cstm-dark_gray self-start px-2">Email/Felhasználónév cím</label>
              <input [(ngModel)]="bejelentkezes.userName" name="userName" type="text" id="email" class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple" />
            </div>
            <div class="mb-4">
              <label for="password" class="text-lg font-bold text-cstm-dark_gray self-start px-2">Jelszó</label>
              <input [(ngModel)]="bejelentkezes.password1" name="pw" type="password" id="password" class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple" />
            </div>
            <div class="mb-4">
              <input type="checkbox" id="newsletter" class="form-check-input me-2" checked />
              <label for="newsletter" class="text-cstm-dark_gray">Feliratkozás a hírlevélre</label>
            </div>
            <button (click)="logIn()" type="submit" class="w-full md:w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500">
              Bejelentkezés
            </button>
            <p class="mb-3 text-lg">Nincs még fiókod? <a class="text-cstm-purple hover:border-b-2 border-cstm-purple" routerLink="/sign-up">Regisztrálj itt!</a></p>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
