<div
  class="mx-auto h-fit bg-white/30 w-[70%] rounded-[40px] flex flex-col items-center justify-evenly desktop:flex-row border-4 p-3 m-3 desktop:justify-center gap-36 mt-60">
  <div class="card-body py-3 px-2 md:px-5">
    <h2 class="text-2xl md:text-3xl lg:text-4xl">Foglaljon időpontot!</h2>
    <form (ngSubmit)="inputForm()" #idopontForm="ngForm">
      <div class="form-group">
        <label for="nev">Név:</label>
        <input [(ngModel)]="idopontModel.name" type="text" id="nev" name="nev"
          class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple"
          required>
      </div>

      <label for="type">Válasszon orvost:</label>
      <select class="form-control" [(ngModel)]="idopontModel.orgId" id="orgId" name="orgId" required>
        <option *ngFor="let orvos of orvosok" [value]="orvos.id">{{orvos.name}}</option>
        <!-- <option value="orgId">orvosok</option>
        <option value="1">Dr. Baka Károly: Kardiológus</option>
        <option value="2">Dr. Osbáth László: Háziorvos</option>
        <option value="3">Dr. Kun Béla: Sebész</option>
        <option value="4">Dr. Madár Katalin: Háziorvos</option> -->
      </select>

      <div class="form-group">
        <label for="telefonszam">Telefonszám:</label>
        <input [(ngModel)]="idopontModel.phone" type="tel" id="telefonszam" name="telefonszam"
          class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple"
          required>
      </div>
      <div class="form-group">
        <label for="telefonszam">Email:</label>
        <input [(ngModel)]="idopontModel.email" type="text" id="email" name="email"
          class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple"
          required>
      </div>

      <label for="birthdaytime">Időpont:</label>
      <input [(ngModel)]="idopontModel.startDate" type="datetime-local" id="datum" name="datum"
        class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple"
        required>
      <label for="birthdaytime">Időpont vége:</label>
      <input [(ngModel)]="idopontModel.endDate" type="datetime-local" id="datumvege" name="datum"
        class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple"
        required>
      <script>

      </script>
      <button type="submit"
        class="w-full md:w-[30%] text-xl md:text-2xl lg:text-3xl text-cstm-dark_gray hover:text-cstm-gray mt-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500"
        [disabled]="!idopontForm.valid">Időpont foglalása</button>
    </form>
  </div>
</div>

<div *ngIf="!orgBooleanIdopontok">
  <div *ngFor="let idopont of idopontok" class="row">
    <div class="col">
      <input [(ngModel)]="idopont.name" type="text">
    </div>
    <div class="col">
      <select class="form-control" [(ngModel)]="idopontModel.orgId" [value]="idopont.orgId" id="orgId" name="orgId"
      required>
      <option value="orgId">orvosok</option>
      <option value="1">Dr. Baka Károly: Kardiológus</option>
      <option value="2">Dr. Osbáth László: Háziorvos</option>
      <option value="3">Dr. Kun Béla: Sebész</option>
      <option value="4">Dr. Madár Katalin: Háziorvos</option>
    </select>
  </div>
  <div class="col">
    <input [(ngModel)]="idopont.phone" type="number">
  </div>
  <div class="col">
    <input [(ngModel)]="idopont.email" type="text">
  </div>
  <div class="col">
    <input [(ngModel)]="idopont.startDate" type="number">
  </div>
  <div class="col">
    <input [(ngModel)]="idopont.endDate" type="number">
  </div>
  <div class="col">
    <button class="btn btn-info ml-auto col" (click)="updateSajatIdopont(idopont)">Szerkeszt.</button>
  </div>
  <div class="col">
    <button class="btn btn-info ml-auto col" (click)="deleteSajatIdopont(idopont)">Törlés</button>
  </div>
</div>
</div>

<div class="row">
  <div *ngIf="userRoles.get('ORG_ADMIN')" class="col">
    <button class="btn btn-info ml-auto col" (click)="orgAdminKeres()">OrgAdmin</button>
  </div>
  <div *ngIf="userRoles.get('ADMIN')" class="col">
    <button class="btn btn-info ml-auto col" (click)="adminKeres()">Admin</button>
  </div>
</div>

<div>
  <select [(ngModel)]="currentOrganization" type="text" id="description"
    class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
    <option *ngFor="let org of orgs" [value]="org.id">{{org.name}}</option>
  </select>
  <button class="btn btn-info ml-auto col" (click)="orgRequest()">Lekérés</button>
</div>
  <div *ngIf="orgBooleanIdopontok">
  <div *ngFor="let idopont of idopontok" class="row">
    <div class="col">
      <input [(ngModel)]="idopont.name" type="text">
    </div>
    <div class="col">
      <select class="form-control" [(ngModel)]="idopontModel.orgId" [value]="idopont.orgId" id="orgId" name="orgId"
        required>
        <option value="orgId">orvosok</option>
        <option value="1">Dr. Baka Károly: Kardiológus</option>
        <option value="2">Dr. Osbáth László: Háziorvos</option>
        <option value="3">Dr. Kun Béla: Sebész</option>
        <option value="4">Dr. Madár Katalin: Háziorvos</option>
      </select>
    </div>
    <div class="col">
      <input [(ngModel)]="idopont.phone" type="number">
    </div>
    <div class="col">
      <input [(ngModel)]="idopont.email" type="text">
    </div>
    <div class="col">
      <input [(ngModel)]="idopont.startDate" type="number">
    </div>
    <div class="col">
      <input [(ngModel)]="idopont.endDate" type="number">
    </div>
    <div class="col">
      <button class="btn btn-info ml-auto col" (click)="updateSajatIdopont(idopont)">Szerkeszt.</button>
    </div>
    <div class="col">
      <button class="btn btn-info ml-auto col" (click)="deleteSajatIdopont(idopont)">Törlés</button>
    </div>
  </div>
</div>

<div *ngIf="admin">
<div class="col">
  <input [value]="currentOrganization.name" [ngbTypeahead]="searchPeople" (selectItem)="onSelectItem($event)" [resultFormatter]="resultFormatter" [inputFormatter]="inputFormatter" class="form-control"/>
</div>
</div>