<div class="container mx-auto mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Szervezet neve:</th>
                <th>Szervezések lekérése</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">
                    <input
                        [value]="currentOrganization['name']"
                        [ngbTypeahead]="searchPeople"
                        (selectItem)="onSelectItem($event)"
                        [resultFormatter]="resultFormatter"
                        [inputFormatter]="inputFormatter"
                        class="form-control"
                        placeholder="Szervezet neve"
                        type="text"
                    />
                </td>
                <td class="align-middle">
                    <button type="button"
                        class="w-[200px] text-xl text-cstm-orszagos hover:text-cstm-gray mb-4 border-3 border-cstm-orszagos hover:bg-cstm-orszagos rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-orszagos transform transition duration-500"
                        (click)="getSajatSzervezes()"
                        [disabled]="currentOrganization==null">Lekérés</button>
                </td>
            </tr>

            <tr *ngFor="let szervezes of szervezesek">
                <td *ngFor="let col of szervezesekColumns" class="align-middle">
                    <input [type]="col.type" [(ngModel)]="szervezes[col.key]" class="form-control"/>
                </td>
                <td class="align-middle">
                    <button type="button"
                        class="w-[200px] text-xl text-cstm-orszagos hover:text-cstm-gray mb-4 border-3 border-cstm-orszagos hover:bg-cstm-orszagos rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-orszagos transform transition duration-500"
                        (click)="updateSzervezes(szervezes)">Mentés</button>
                </td>
                <td class="align-middle">
                    <button type="button"
                        class="w-[200px] text-xl text-cstm-orszagos hover:text-cstm-gray mb-4 border-3 border-cstm-orszagos hover:bg-cstm-orszagos rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-orszagos transform transition duration-500"
                        (click)="deleteSzervezes(szervezes)">Törlés</button>
                </td>
                <td class="align-middle">
                    <!-- If you want to add content here -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
