<div class="container mt-5">
    <div class="row">
      <!-- Baloldal - Lokális hírek -->
      <div class="col-md-6 baloldal">
        <ul class="list-group">
          <li class="list-group-item bg-info text-white">Hírek</li>
          <li class="list-group-item">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam repellat corrupti perferendis sint. Magni officia eaque voluptatem cum itaque suscipit, excepturi sequi repellendus esse voluptate? Similique omnis iusto magnam.</p>
          </li>
          <li class="list-group-item bg-info text-white">Hírek</li>
          <li class="list-group-item">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vel magnam voluptate. Tempore ea veniam rerum laborum repudiandae. Quas expedita quia repellat dicta! Est quos fugit, ipsa ea quo enim.</p>
          </li>
          <li class="list-group-item bg-info text-white">Hírek</li>
          <li class="list-group-item">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat odio ea possimus quasi cupiditate reprehenderit quas, tempore quod earum corrupti officiis, quisquam omnis atque vero aliquam. Tempora ducimus labore beatae?</p>
          </li>
          <li class="list-group-item bg-info text-white">Hírek</li>
          <li class="list-group-item">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptas veritatis itaque? Dolores, atque temporibus libero eum molestiae doloribus quam soluta ullam, impedit voluptatum a necessitatibus. Porro omnis ratione unde.</p>
          </li>
        </ul>
      </div>
  
      <!-- Jobboldal - Országos, Nemzetközi változások -->
      <!-- Míg itt inkább országi, vagy akár nemzetközi változások jelenhetnének meg -->
<div class="col-md-6 jobboldal">
    <ul class="list-group">
      <li class="list-group-item bg-primary text-white">Országos/Nemzetközi Hírek</li>
      <li class="list-group-item">
        <h5 class="mb-2">Lorem Ipsum Dolor</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mauris vel velit laoreet euismod.</p>
      </li>
      <li class="list-group-item">
        <h5 class="mb-2">Pellentesque Habitasse</h5>
        <p>Pellentesque habitasse morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      </li>
      <li class="list-group-item">
        <h5 class="mb-2">Curabitur Cursus</h5>
        <p>Curabitur cursus libero sit amet turpis malesuada, eu fermentum quam accumsan.</p>
      </li>
      <li class="list-group-item">
        <h5 class="mb-2">Sed Tempus</h5>
        <p>Sed tempus justo vel sapien dictum, non facilisis elit sagittis. Fusce eu odio in risus feugiat gravida.</p>
      </li>
    </ul>
  </div>
  
    </div>
  </div>
  