<div class="bg-white/30 w-[70%] rounded-[40px] backdrop-blur-sm text-center mx-auto mt-12 pt-6">
	<form>
		<p class="mb-4 text-lg">Kérem töltse fel a meghirdetni kívánt tárgyat</p>

		<div *ngIf="buttonClicked" class="image-container">
			<label for="productName" class="mb-2 block">Eladó termék neve</label>
			<input [(ngModel)]="eladoTermek.name" type="text" id="productName" name="name"
				class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">

			<label for="description" class="mb-2 block">Leírás:</label>
			<input [(ngModel)]="eladoTermek.description" type="text" id="description" name="description"
				class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">

			<label for="description" class="mb-2 block">Állapot:</label>
			<select [(ngModel)]="eladoTermek.condition" type="text" id="condition" name="condition"
				class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
				<option value="new">Új</option>
				<option value="newish">ÚjSzerű</option>
				<option value="used">Használt</option>
			</select>

			<label for="location" class="mb-2 block">Helyszín:</label>
			<input [(ngModel)]="eladoTermek.location" type="text" id="location" name="location"
				class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
			<label for="email" class="mb-2 block">Publikus Email:</label>
			<input [(ngModel)]="eladoTermek.email" type="text" id="email" name="email"
				class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
			<label for="phone" class="mb-2 block">Publikus Telefon:</label>
			<input [(ngModel)]="eladoTermek.phone" type="text" id="phone" name="phone"
				class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">


			<label for="price" class="mb-2 block">Ár:</label>

			<input [(ngModel)]="eladoTermek.price" type="number" id="price" name="price"
				class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">


			<div class="tab-container" fxLayoutAlign="center center">
				<button #buttonPicker="appFilePicker" mat-raised-button color="primary" appFilePicker
					[multiple]="_multiple" (filesChanged)="_onFilesChanged($event)" (filesReset)="_onReset()"
					class="w-full md:w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500">
					Kép kiválasztása
				</button>
			</div>
			<table mat-table [dataSource]="_selectedFiles" class="selected-files-table">
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> File Név </th>
					<td mat-cell *matCellDef="let file"> {{file.name}} </td>
				</ng-container>

				<ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef> Típus </th>
					<td mat-cell *matCellDef="let file"> {{file.type}} </td>
				</ng-container>

				<ng-container matColumnDef="size">
					<th mat-header-cell *matHeaderCellDef> Méret (bytes) </th>
					<td mat-cell *matCellDef="let file"> {{file.size}} </td>
				</ng-container>

				<ng-container matColumnDef="lastModified">
					<th mat-header-cell *matHeaderCellDef> Legutóbb módosítva </th>
					<td mat-cell *matCellDef="let file"> {{file.lastModified | date }} </td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>
			</table>


			<button (click)="setupDataAndSend()"
				class="w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple  hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl  hover:shadow-cstm-dark-purple transform transition duration-500">Küldés</button>
			<button type="button"
				class="w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl  hover:shadow-cstm-dark-purple transform transition duration-500"
				(click)="elrejt()">Elrejt</button>
		</div>

		<button
			class="w-fit md:w-[30%] text-2xl font-semibold text-cstm-gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple bg-cstm-purple hover:bg-cstm-purple rounded-xl px-14 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500"
			*ngIf="!buttonClicked" (click)="toggleForm()">Eladás</button>
			<div *ngIf="showsikerPopup"
			class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
			<div class="bg-white p-5 rounded-lg">
				<p class="text-2xl font-bold text-green-500 mb-4">Sikeres termékeladás!</p>
				<p class="text-lg">Köszönjük, hogy regisztráltál.</p>
				<button (click)="showelrejtPopup"
					class="mt-4 px-4 py-2 bg-green-500 text-white rounded-md">Bezárás</button>
			</div>
		</div>
		<div *ngIf="showsikertelenPopup"
			class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
			<div class="bg-white p-5 rounded-lg">
				<p class="text-2xl font-bold text-red-500 mb-4">Sikertelen termékeladás!</p>
				<p class="text-lg">
					Ellenőrizze adatait
				</p>
				<button (click)="showelrejtPopup()"
					class="mt-4 px-4 py-2 bg-red-500 text-white rounded-md">Bezárás</button>
			</div>
		</div>
	</form>
</div>