<div class="w-full h-fit text-cstm-gray text-xl font-medium text-center py-3 rounded-t-3xl px-9 backdrop-blur-3xl">
	<h1>Rendezvény Kezdeményezése</h1>

	<div class="card mt-3">
		<div class="card-body">
			<h2>Első lépés</h2>
			<p>Adja meg a rendezvény nevét. Lehetőleg rövid és a rendezvényt reprezentálja</p>
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-body">
			<h2>Második lépés</h2>
			<p>Egy rövid leírást kell adni a rendezvényről. A szervezés menete is szerepeljen a leírásban</p>
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-body">
			<h2>Harmadik lépés</h2>
			<p>Egy dátumot kell megadni óra pontossággal</p>
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-body">
			<h2>Negyedik lépés</h2>
			<p>Adjon meg egy elérhetőséget</p>
		</div>
	</div>

	<button type="submit"
		class="w-full md:w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500"
		(click)="katt()">Szervezés Indítványozása</button>
</div>