
<!-- <app-termek-eladas></app-termek-eladas> -->
<!-- {{termekek|json}}

<div class="row">
	<div *ngIf="userRoles.get('ORG_ADMIN')" class="col">
		<button class="btn btn-info ml-auto row-auto" (click)="adminKeres()">Admin</button>
	</div>
</div>


<div *ngIf="admin">
	<select name="category" id="category" [(ngModel)]="currentCategory" [value]="currentCategory">
	<option *ngFor="let cat of categories" [value]="cat.category">{{cat.text}}</option>
	</select>
	<div class="col">
		<input [value]="currentPerson[translateCurrentCategory(this.currentCategory)]" [ngbTypeahead]="searchPeople" (selectItem)="onSelectItem($event)"
			[resultFormatter]="resultFormatter" [inputFormatter]="inputFormatter" class="form-control" />
	</div>
</div>
{{currentCategory|json}}
{{currentPerson|json}} -->

<!-- <div class="text-center flex justify-center h-auto max-w-md">
	<div class="bg-white/30 w-[70%] rounded-[40px] backdrop-blur-sm" >
	  <div class="row d-flex justify-content-center">
		<div class="flex justify-center w-full">
		  <select [(ngModel)]="currentPerson" type="text" id="description"
			class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
			<option *ngFor="let org of orgs" [value]="org.id">{{org.name}}</option>
		  </select>
		</div>
		<div class="flex justify-center w-full">
		  <button class="w-full md:w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500" (click)="orgRequest()">Lekérés</button>
		</div>
	  </div>
	</div>
  </div> -->
<!--   

<div *ngFor="let termek of termekek" class="mx-auto h-fit bg-white/30 w-[70%] rounded-[40px] flex flex-col items-center justify-evenly desktop:flex-row border-4 p-3 m-3 desktop:justify-center gap-36 mt-60">
	<div class="col">
		<input [(ngModel)]="termek.name" type="text" [ngModelOptions]="{standalone: true}"
			class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
	</div>
	<div class="col">
		<input [(ngModel)]="termek.email" type="text" [ngModelOptions]="{standalone: true}"
			class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
	</div>
	<div class="col">
		<input [(ngModel)]="termek.description" type="text" [ngModelOptions]="{standalone: true}"
			class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
	</div>
	<div class="col">
		<select [(ngModel)]="termek.condition" [value]="termek.condition" type="text" id="condition" name="condition"
			class="w-[50%] h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
			<option value="new">Új</option>
			<option value="newish">ÚjSzerű</option>
			<option value="used">Használt</option>
		</select>
	</div>
	<div class="col">
		<input [(ngModel)]="termek.location" type="text" [ngModelOptions]="{standalone: true}"
			class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
	</div>
	<div class="col">
		<input [(ngModel)]="termek.phone" type="number" [ngModelOptions]="{standalone: true}"
			class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
	</div>
	<div class="col">
		<input [(ngModel)]="termek.price" type="number" [ngModelOptions]="{standalone: true}"
			class="w-full h-fit text-cstm-dark_gray focus:scale-105 focus:text-cstm-purple shadow-xl focus:shadow-cstm-dark-purple outline-none caret-cstm-purple text-lg py-2 px-3 rounded-[14px] focus:border-[3px] border-cstm-purple">
	</div>
	<div class="col">
		<button
			class="w-full bg-blue-500 hover:bg-blue-700 text-white text-lg py-2 px-3 rounded-[14px] border-[3px] border-cstm-purple"
			(click)="updateTermek(termek)">Szerkesztés</button>
	</div>
	<div class="col">
		<button
		class="w-full md:w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500"
			(click)="deleteTermek(termek)">Törlés</button>
	</div> -->

	<!-- <div class="col">
		<input [(ngModel)]="termek.location" type="text">
	</div>
	<div class="col">
		<input [(ngModel)]="termek.phone" type="number">
	</div>
	<div class="col">
		<input [(ngModel)]="termek.price" type="number">
	</div>
	<div class="col">
		<button class="btn btn-info ml-auto col" (click)="updateTermek(termek)">Szerkesztés</button>
	</div>
	<div class="col">
		<button class="btn btn-info ml-auto col" (click)="deleteTermek(termek)">Törlés</button>
	</div> -->
<!-- </div> -->
<div class="container mx-auto">

	<!-- Admin section -->
	<div class="row">
	  <div *ngIf="userRoles.get('ORG_ADMIN')" class="col">
		<button class="btn btn-info ml-auto row-auto" (click)="adminKeres()">Admin</button>
	  </div>
	</div>
  
	<!-- Admin functionality -->
	<div *ngIf="admin" class="mt-8">
	  <select name="category" id="category" [(ngModel)]="currentCategory" [value]="currentCategory"
		class="w-full py-2 px-4 border rounded-md">
		<option *ngFor="let cat of categories" [value]="cat.category">{{cat.text}}</option>
	  </select>
	  <div class="flex mt-4">
		<input [value]="currentPerson[translateCurrentCategory(this.currentCategory)]" [ngbTypeahead]="searchPeople"
		  (selectItem)="onSelectItem($event)" [resultFormatter]="resultFormatter" [inputFormatter]="inputFormatter"
		  class="w-full py-2 px-4 border rounded-md" />
	  </div>
	</div>
  
	<!-- Termek section -->
	<div class="mt-8">
	  <div *ngFor="let termek of termekek" class="flex flex-wrap items-center justify-between bg-white/30 rounded-lg p-4 mb-4">
		<div class="w-full md:w-1/6 mb-4 md:mb-0">
		  <input [(ngModel)]="termek.name" type="text" [ngModelOptions]="{standalone: true}"
			class="w-full py-2 px-4 border rounded-md">
		</div>
		<div class="w-full md:w-1/6 mb-4 md:mb-0">
		  <input [(ngModel)]="termek.email" type="text" [ngModelOptions]="{standalone: true}"
			class="w-full py-2 px-4 border rounded-md">
		</div>
		<div class="w-full md:w-1/6 mb-4 md:mb-0">
		  <input [(ngModel)]="termek.description" type="text" [ngModelOptions]="{standalone: true}"
			class="w-full py-2 px-4 border rounded-md">
		</div>
		<div class="w-full md:w-1/6 mb-4 md:mb-0">
		  <select [(ngModel)]="termek.condition" [value]="termek.condition" type="text" id="condition" name="condition"
			class="w-full py-2 px-4 border rounded-md">
			<option value="new">Új</option>
			<option value="newish">ÚjSzerű</option>
			<option value="used">Használt</option>
		  </select>
		</div>
		<div class="w-full md:w-1/6 mb-4 md:mb-0">
		  <input [(ngModel)]="termek.location" type="text" [ngModelOptions]="{standalone: true}"
			class="w-full py-2 px-4 border rounded-md">
		</div>
		<div class="w-full md:w-1/6 mb-4 md:mb-0">
		  <input [(ngModel)]="termek.phone" type="number" [ngModelOptions]="{standalone: true}"
			class="w-full py-2 px-4 border rounded-md">
		</div>
		<div class="w-full md:w-1/6 mb-4 md:mb-0">
		  <input [(ngModel)]="termek.price" type="number" [ngModelOptions]="{standalone: true}"
			class="w-full py-2 px-4 border rounded-md">
		</div>

		<div class="w-full flex justify-evenly md:w-1/6 mb-4 md:mb-0">
		  	<button class="font-semibold bg-blue-500 hover:bg-blue-700 border-2 border-blue-500 hover:border-blue-700 text-white py-2 px-4 rounded-md"
				(click)="updateTermek(termek)">Szerkesztés</button>

			<button class="font-semibold border-red-700 border-2 hover:bg-red-700 text-red-700 hover:text-white py-2 px-4 rounded-md"
				(click)="deleteTermek(termek)">Törlés</button>
		</div>

	  </div>
	</div>
  </div>
  
