<div class="container mt-5">
    <div class="row">
    
      <div class="col kozep">
        <ul class="list-group">
          <li class="list-group-item bg-danger text-white">Helyi/Lokális Hírek</li>
          <li class="list-group-item">
            <h5 class="mb-2">Lorem Ipsum Dolor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mauris vel velit laoreet euismod.</p>
          </li>
          <li class="list-group-item">
            <h5 class="mb-2">Pellentesque Habitasse</h5>
            <p>Pellentesque habitasse morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          </li>
          <li class="list-group-item">
            <h5 class="mb-2">Curabitur Cursus</h5>
            <p>Curabitur cursus libero sit amet turpis malesuada, eu fermentum quam accumsan.</p>
          </li>
          <li class="list-group-item">
            <h5 class="mb-2">Sed Tempus</h5>
            <p>Sed tempus justo vel sapien dictum, non facilisis elit sagittis. Fusce eu odio in risus feugiat gravida.</p>
          </li>
        </ul>
      </div>
    
      <div class="col kozep">
        <ul class="list-group">
          <li class="list-group-item bg-primary text-white">Országos/Nemzetközi Hírek</li>
          <li class="list-group-item">
            <h5 class="mb-2">Lorem Ipsum Dolor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mauris vel velit laoreet euismod.</p>
          </li>
          <li class="list-group-item">
            <h5 class="mb-2">Pellentesque Habitasse</h5>
            <p>Pellentesque habitasse morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          </li>
          <li class="list-group-item">
            <h5 class="mb-2">Curabitur Cursus</h5>
            <p>Curabitur cursus libero sit amet turpis malesuada, eu fermentum quam accumsan.</p>
          </li>
          <li class="list-group-item">
            <h5 class="mb-2">Sed Tempus</h5>
            <p>Sed tempus justo vel sapien dictum, non facilisis elit sagittis. Fusce eu odio in risus feugiat gravida.</p>
          </li>
        </ul>
      </div>
    
  
     


  <div class="col kozep">
    <ul class="list-group">
      <li class="list-group-item bg-success text-white">Programok</li>
      <li class="list-group-item">
        <h5 class="mb-2">Lorem Ipsum Dolor</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mauris vel velit laoreet euismod.</p>
      </li>
      <li class="list-group-item">
        <h5 class="mb-2">Pellentesque Habitasse</h5>
        <p>Pellentesque habitasse morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      </li>
      <li class="list-group-item">
        <h5 class="mb-2">Curabitur Cursus</h5>
        <p>Curabitur cursus libero sit amet turpis malesuada, eu fermentum quam accumsan.</p>
      </li>
      <li class="list-group-item">
        <h5 class="mb-2">Sed Tempus</h5>
        <p>Sed tempus justo vel sapien dictum, non facilisis elit sagittis. Fusce eu odio in risus feugiat gravida.</p>
      </li>
    </ul>
  </div>


<!-- <div class="col jobboldal">
  <ul class="list-group">
    <li class="list-group-item bg-success text-white">Programok</li>
    <li class="list-group-item">
      <h5 class="mb-2">Program neve</h5>
      <h6>Időpont:</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mauris vel velit laoreet euismod.</p>
    </li>
    <li class="list-group-item">
      <h5 class="mb-2">Program neve</h5>
      <h6>Időpont:</h6>
      <p>Pellentesque habitasse morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </li>
    <li class="list-group-item">
      <h5 class="mb-2">Program neve</h5>
      <h6>Időpont:</h6>
      <p>Curabitur cursus libero sit amet turpis malesuada, eu fermentum quam accumsan.</p>
    </li>
    <li class="list-group-item">
      <h5 class="mb-2">Program neve</h5>
      <h6>Időpont: </h6>
      <p>Sed tempus justo vel sapien dictum, non facilisis elit sagittis. Fusce eu odio in risus feugiat gravida.</p>
    </li>
    <li class="list-group-item">
      <h5 class="mb-2">Program neve</h5>
      <h6>Időpont:</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mauris vel velit laoreet euismod.</p>
    </li>
  </ul>
   
</div> -->
  
    </div>
  </div>
  
