

<!-- <nav ngbNav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Atigónia Önkormányzat</a>
    <button
      (click)="csukva = !csukva"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="dropdown"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngbCollapse]="csukva"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/app-body"
            >Kezdőlap</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/sign-up"
            >Bejelentkezés</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/app-elado-termek"
            >Eladó termékek</a
          >
        </li> -->

        <!-- <li ngbDropdownMenu [ngbCollapse]="csukva1" class="nav-item dropdown">
          <a
            ngbDropdownAnchor
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Orvos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
            <li>
              <a ngbDropdownItem class="dropdown-item" routerLink="/app-orvos"
                >Időpontfoglalás</a
              >
            </li>
            <li>
              <a ngbDropdownItem class="dropdown-item" routerLink="/app-orvos-egyeb-ugyek"
                >Egyéb ügyek</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a ngbDropdownItem class="dropdown-item" href="#">Kapcsolat</a></li>
          </ul>
        </li> -->
<!-- 
        <li [ngbCollapse]="csukva" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Lakossági bejelentések
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/app-uthibajelento"
                >Úthibák bejelentése</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/app-kozteruletjelento"
                >Közterületi bejelentések</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Kapcsolat</a></li>
          </ul>
        </li>

        <li [ngbCollapse]="csukva" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Közüzemi szolgáltatások
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/app-szemetszallitas"
                >Szemétszállítás</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/app-viz-gaz">Víz, Gáz</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/app-tuzszabalyok"
                >Tűzgyújtásra vonatkozó szabályok</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/app-lomtalanitas"
                >Lomtalanítás</a
              >
            </li>
          </ul>
        </li>

        <li [ngbCollapse]="csukva" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Programok
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Rendszeres programok</a></li>
            <li><a class="dropdown-item" href="#">Program szervezése</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Kapcsolat</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/app-profil"
              >Profil
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
 -->

 <!-- Nav bár fehér blokk frissítéskor a bejelentkezésre ugrik, oldaltól függetlenül, Egyes opciók nem működnek bizonyos oldalról-->
<ul ngbNav class="nav-tabs justify-content-center">
	<li [ngbNavItem]="1">
		<button ngbNavLink routerLink="/sign-up">Bejelentkezés</button>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink routerLink="/body">Kezdőlap</button>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink routerLink="/elado-termekek">Eladó Termékek</button>
	</li>
	<li [ngbNavItem]="4" ngbDropdown class="nav-item" role="presentation">
		<button type="button" class="nav-link" ngbDropdownToggle>Orvosi Információk</button>
		<div ngbDropdownMenu>
			<button ngbDropdownItem routerLink="/orvos-egyeb-ugyek">Tudnivalók</button>
      <!-- Az alábbi felületben nem vagyok annyira biztos, lehet az is elég lenne, ha router-outlettel belenne hivatkozva a fenti felületbe -->
			<button ngbDropdownItem routerLink="/orvos-nyitvatartas">Nyitvatartás</button> 
			<div class="dropdown-divider"></div>
			<button ngbDropdownItem routerLink="/orvos-idopont-foglalas">Időpontfoglalás</button>
		</div>
	</li>
	<li [ngbNavItem]="5" ngbDropdown class="nav-item" role="presentation">
		<button type="button" class="nav-link" ngbDropdownToggle>Bejelentések</button>
		<div ngbDropdownMenu>
			<button ngbDropdownItem routerLink="/kozteruletjelento">Közterületi Bejelentések</button>
			<button ngbDropdownItem routerLink="/uthibajelento">Úthibák</button> 
			<button ngbDropdownItem routerLink="/viz-gaz">Víz-gáz Kimaradás</button> 
			<button ngbDropdownItem routerLink="/tuzszabalyok">Tűzszabályok</button> 
			<button ngbDropdownItem routerLink="/lomtalanitas">Lomtalanítás</button> 
			<button ngbDropdownItem routerLink="/szemetszallitas">Szemétszállítás</button> 
			<div class="dropdown-divider"></div>
			<button ngbDropdownItem routerLink="/jelenteskezelo">Bejelentés küldése</button>
		</div>
	</li>
	<li [ngbNavItem]="6">
		<button ngbNavLink routerLink="/profil" >Profil</button>
	</li>
	<li ngbNavItem [disabled]="true" class="ms-auto">
		<button ngbNavLink>Kikapcsolva</button>
	</li>
</ul>

