<div class="appointment-container">
  <h2>Foglaljon időpontot!</h2>
<form (ngSubmit)="submitForm()" #idopontForm="ngForm">
  <div class="form-group">
    <label for="nev">Név:</label>
    <input type="text" id="nev" name="nev" [(ngModel)]="idopont.nev" required>
  </div>

  <div class="form-group">
    <label for="email">E-mail cím:</label>
    <input type="email" id="email" name="email" [(ngModel)]="idopont.email" required>
  </div>

  <div class="form-group">
    <label for="telefonszam">Telefonszám:</label>
    <input type="tel" id="telefonszam" name="telefonszam" [(ngModel)]="idopont.telefonszam" required>
  </div>

  <div class="form-group">
    <label for="datum">Dátum:</label>
    <input type="date" id="datum" name="datum" [(ngModel)]="idopont.datum" required>
  </div>

  <div class="form-group">
    <label for="time">Időpont:</label>
    <input type="time" id="ido" name="ido" [(ngModel)]="idopont.ido" required>
  </div>

  <button type="submit" [disabled]="!idopontForm.valid">Időpont foglalása</button>
</form>
</div>