<div class="appointment-container">
    <h2>Jelentéskezelő</h2>
  <form (ngSubmit)="inputForm()" #idopontForm="ngForm">
    <div class="form-group">
        <label for="types" type="" id="type" name="type" [(ngModel)]="bejelentes.tipus" required>Válasszon típust:</label>
        <select [value]="selectModel" id="types">
            <option value="kozteruleti">Közterületi</option>
            <option value="uthiba">Úthiba</option>
            <!-- Rang-zárolt jelentések -->
            <option value="viz-gaz">Víz-gáz</option>
            <option value="lomtalanitas">Lomtalanítás</option>
            <option value="szemetszallitas">Szemétszállítás</option>
        </select>
        </div>
    <div class="form-group">
        <label for="types" type="" id="type" name="type" [(ngModel)]="bejelentes.sulyossag" required>Súlyosság:</label>
        <select [value]="selectModel" id="types">
          <!-- Rang-zárolt jelentések -->
            <option value="kozteruleti">1</option>
            <option value="uthiba">2</option>
            <option value="viz-gaz">3</option>
            <option value="lomtalanitas">4</option>
            <option value="szemetszallitas">5</option>
        </select>
        </div>

    <div class="form-group">
      <label for="nev">Név:</label>
      <input type="text" id="nev" name="nev" [(ngModel)]="bejelentes.nev" required>
    </div>
  
    <div class="form-group">
      <label for="telefonszam">Telefonszám:</label>
      <input type="tel" id="telefonszam" name="telefonszam" [(ngModel)]="bejelentes.telefonszam" required>
    </div>

    <div class="form-group">
      <label for="telefonszam">Helyszín:</label>
      <input type="tel" id="telefonszam" name="telefonszam" [(ngModel)]="bejelentes.telefonszam" required>
    </div>
  
    <div class="form-group">
      <label for="datum">Ekkor:</label>
      <input type="datetime-local" id="datum" name="datum" [(ngModel)]="bejelentes.datum" required>
    </div>
  
    <button type="submit" [disabled]="!idopontForm.valid">Bejelentés Küldése</button>
  </form>
  </div>