<div class="bg-white/30 rounded-[40px] backdrop-blur-sm mx-auto p-4 md:p-8 lg:p-10 w-[70%] md:w-[70%]">
  <div class="card-body py-3 px-2 md:px-5">
    <h2>Szervezés Kezdeményezése</h2>
    <form (ngSubmit)="inputModel()" #szervezesForm="ngForm">
      <div>
        <label for="rendezesNev">Rendezés neve:</label>
        <input [(ngModel)]="szervezesModel.name" type="text" id="rendezesNev" name="rendezesNev"  class="form-control" required>
      </div>

      <div>
        <label for="rendezesLeiras">Rendezés leírása:</label>
        <input [(ngModel)]="szervezesModel.description" type="text" id="rendezesLeiras" name="rendezesLeiras" class="form-control" required>
      </div>
    
      <div>
        <label for="idopont">Ekkor:</label>
        <input [(ngModel)]="szervezesModel.startDate" type="datetime-local" id="idopont" name="idopont"  class="form-control" required>
      </div>
    
      <div>
        <label for="telefonszam">Telefonszám:</label>
        <input [(ngModel)]="szervezesModel.phone" type="tel" id="telefonszam" name="telefonszam" class="form-control" required>
      </div>
    
      <button type="submit" class="w-full md:w-[30%] text-xl md:text-xl lg:text-xl text-cstm-dark_gray hover:text-cstm-gray mt-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500" [disabled]="!szervezesForm.valid">Szervezés indítványozása</button>
    </form>
  </div>
</div>
