<div class="container mx-auto mt-5">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <ng-container *ngFor="let col of columns">
        <div class="col">
          <input [value]="adminAdatok[col.key]" (focus)="setCol(col)" [ngbTypeahead]="searchPeople" (selectItem)="onSelectItem($event)" [resultFormatter]="resultFormatter" [inputFormatter]="inputFormatter" class="form-control" placeholder="{{col.text}}"/>
        </div>
      </ng-container>
      <div class="col">
        <button type="button" class="btn btn-info w-[30%] md:w-full" (click)="updateUser()">Mentés</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-info w-[30%] md:w-full" (click)="deleteUser()">Törlés</button>
      </div>
    </div>
  </div>
  
  {{adminAdatok|json}}
  