<div class="container mx-auto mt-5">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <ng-container *ngFor="let col of columns">
        <div class="col">
          <input [value]="adminAdatok[col.key]" (focus)="setCol(col)" [ngbTypeahead]="searchPeople" (selectItem)="onSelectItem($event)" [resultFormatter]="resultFormatter" [inputFormatter]="inputFormatter" class="form-control" placeholder="{{col.text}}"/>
        </div>
      </ng-container>
      <div class="col">
        <button type="button" class="w-full md:w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500" (click)="updateUser()">Mentés</button>
      </div>
      <div class="col">
        <button type="button" class="w-full md:w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500" (click)="deleteUser()">Törlés</button>
      </div>
    </div>
  </div>
  
  {{adminAdatok|json}}
  