<form >
    <p>Kérem töltse fel a meghirdetni kívánt tárgyat</p>
    <div class="image-container">
    <!-- File input for image selection -->
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
  
    
        <img *ngIf="userProfile1.profileImage" [src]="userProfile1.profileImage" alt="Profilkép">
    </div>
    <!-- Text input -->
    <label for="textbox">Text Box:</label>
    <input type="text" id="textbox" formControlName="textboxValue">
  
    <button type="submit">Küldés</button>
  </form>
  

  <div class="fokep">
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button> <button>Érdekel</button></div>
</div>

</div>