
<p>Kérem töltse fel a meghirdetni kívánt tárgyat</p>
<input type="file" (change)="onFileSelected($event)" accept="image/*">
<img *ngIf="userProfile1.profileImage" [src]="userProfile1.profileImage" alt="Profilkép">
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button>  <button>Érdekel</button></div>
</div>
<div class="poszt">Eladó termék
    <img src="../../assets/canga.jpg" alt="canga" width="100px" height="100px">
    <div class="szavazas"><button>Like</button> <button>Dislike</button> <button>Érdekel</button></div>
</div>

