<div class="container mt-5">
  <div class="appointment-container">
    <h2>Foglaljon időpontot!</h2>
    <form (ngSubmit)="inputForm()" #idopontForm="ngForm">
      <div class="form-group">
        <label for="nev">Név:</label>
        <input type="text" id="nev" name="nev" [(ngModel)]="idopontModel.nev" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="email">E-mail cím:</label>
        <input type="email" id="email" name="email" [(ngModel)]="idopontModel.email" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="telefonszam">Telefonszám:</label>
        <input type="tel" id="telefonszam" name="telefonszam" [(ngModel)]="idopontModel.telefonszam" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="datum">Dátum:</label>
        <input type="date" id="datum" name="datum" [(ngModel)]="idopontModel.datum" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="ido">Időpont:</label>
        <input type="time" id="ido" name="ido" [(ngModel)]="idopontModel.idopont" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!idopontForm.valid">Időpont foglalása</button>
    </form>
  </div>
</div>
