<!-- <div class="">
  <ul class="">
    <li class="">Orvosi Információk</li>
    <li class="">
      <h5 class="">Helyszín</h5>
      <h6>Odavissza utca 62.</h6>
      <ul>
        <li>Dr. Baka Károly: Kardiológus</li>
        <li>Dr. Osbáth László: Háziorvos</li>
        <li>Dr. Kun Béla: Sebész</li>
        <li>Dr. Madár Katalin: Háziorvos</li>
      </ul>
    </li>
    <li class="">
      <h5 class="">Nyitvatartás</h5>
      <p>Dr. Baka Károly: Kardiológus</p>
      <table class="">
        <thead>
          <tr>
            <th>Hétfő</th>
            <th>Kedd</th>
            <th>Szerda</th>
            <th>csütörtök</th>
            <th>Péntek</th>
      
          </tr>
        </thead>


        <tbody>
          <tr>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
          </tr>
        </tbody>
      </table>
      <h6>A Nyitvatartás változhat ha az orvosok szabadságon vannak.</h6>

      <p>Dr. Osbáth László: Háziorvos</p>
      <table class="">
        <thead>
          <tr>
            <th>Hétfő</th>
            <th>Kedd</th>
            <th>Szerda</th>
            <th>csütörtök</th>
            <th>Péntek</th>
      
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
          </tr>
        </tbody>
      </table>
      <h6>A Nyitvatartás változhat ha az orvosok szabadságon vannak.</h6>

      <p>Dr. Kun Béla: Sebész</p>
      <table class="">
        <thead>
          <tr>
            <th>Hétfő</th>
            <th>Kedd</th>
            <th>Szerda</th>
            <th>csütörtök</th>
            <th>Péntek</th>
      
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
          </tr>
        </tbody>
      </table>
      <h6>A Nyitvatartás változhat ha az orvosok szabadságon vannak.</h6>
      <p>Dr. Madár Katalin: Háziorvos</p>
      <table class="">
        <thead>
          <tr>
            <th>Hétfő</th>
            <th>Kedd</th>
            <th>Szerda</th>
            <th>csütörtök</th>
            <th>Péntek</th>
      
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
          </tr>
        </tbody>
      </table>

      <h6>A Nyitvatartás változhat ha az orvosok szabadságon vannak.</h6>


      
    </li>
    <li class="">
      <h5 class="">Időpontfoglalás</h5>
     


      <p>Ahhoz, hogy Időpontot tudjon foglalni töltse ki az űrlapot. </p>
      <button type="submit" class="w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500" routerLink="/orvos-idopont-foglalas"> Időpontfoglalás</button>
    </li>

  </ul>
</div> -->
<div class="container mx-auto px-4 sm:px-6 lg:px-8 bg-white/30 md:w-[70%] rounded-[40px] backdrop-blur-sm mt-5 md:mt-0 ">
  <ul class="max-w-md mx-auto">
    <li class="text-lg font-bold text-center mb-4 h-fit text-cstm-gray py-3 rounded-t-3xl bg-cstm-programok(teal)">Orvosi Információk</li>
    <li class="mb-8">
      <h5 class="text-lg font-bold mb-2">Helyszín</h5>
      <h6>Odavissza utca 62.</h6>
      <ul class="list-disc pl-4">
        <li>Dr. Baka Károly: Kardiológus</li>
        <li>Dr. Osbáth László: Háziorvos</li>
        <li>Dr. Kun Béla: Sebész</li>
        <li>Dr. Madár Katalin: Háziorvos</li>
      </ul>
    </li>
    <li class="mb-8">
      <h5 class="text-lg font-bold mb-2">Nyitvatartás</h5>
      <div class="overflow-x-auto">
        <h3>Dr. Baka Károly: Kardiológus</h3>
        <table class="w-full whitespace-nowrap mb-4">
          <thead>
            <tr>
              <th>Hétfő</th>
              <th>Kedd</th>
              <th>Szerda</th>
              <th>Csütörtök</th>
              <th>Péntek</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
            </tr>
          </tbody>
          
        </table>
        <h3>Dr. Osbáth László: Háziorvos</h3>
        <table class="w-full whitespace-nowrap mb-4">
          <thead>
            <tr>
              <th>Hétfő</th>
              <th>Kedd</th>
              <th>Szerda</th>
              <th>Csütörtök</th>
              <th>Péntek</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
            </tr>
          </tbody>
          
        </table>
        <h3>Dr. Kun Béla: Sebész</h3>
        <table class="w-full whitespace-nowrap mb-4">
          <thead>
            <tr>
              <th>Hétfő</th>
              <th>Kedd</th>
              <th>Szerda</th>
              <th>Csütörtök</th>
              <th>Péntek</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
            </tr>
          </tbody>
          
        </table>
        <h3>Dr. Madár Katalin: Háziorvos</h3>
        <table class="w-full whitespace-nowrap mb-4">
          <thead>
            <tr>
              <th>Hétfő</th>
              <th>Kedd</th>
              <th>Szerda</th>
              <th>Csütörtök</th>
              <th>Péntek</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
              <td>8:00-16:00</td>
            </tr>
          </tbody>
          
        </table>
      </div>
      <p class="text-sm">A Nyitvatartás változhat ha az orvosok szabadságon vannak.</p>
    </li>
    <!-- Repeat the same structure for other doctors -->
    <li>
      <h5 class="text-lg font-bold mb-2">Időpontfoglalás</h5>
      <p class="mb-4">Ahhoz, hogy Időpontot tudjon foglalni töltse ki az űrlapot. </p>
      <button type="submit" class="w-full md:w-[30%] text-xl text-cstm-dark_gray hover:text-cstm-gray mb-4 border-3 border-cstm-purple hover:bg-cstm-purple rounded-xl px-3 py-2 shadow-xl hover:shadow-cstm-dark-purple transform transition duration-500" routerLink="/orvos-idopont-foglalas"> Időpontfoglalás</button>
    </li>
  </ul>
</div>
