.fokep {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.szavazas {
  margin-top: 10px;
}

.image-container {
  margin-bottom: 20px;
}

.fajlfeltoltes p {
  color: black;

}

.fajlfeltoltes .jobboldaligomb {
  float: right;
}

.fajlfeltoltes {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  padding: 20px;
  opacity: 0.9;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #0ceaea;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

}


@media (max-width: 768px) {
  .fajlfeltoltes {
    max-width: 100%;
  }
}