
<form class="fajlfeltoltes">
  <p>Kérem töltse fel a meghirdetni kívánt tárgyat</p>
  
  <div *ngIf="buttonClicked" class="image-container">
    <label for="productName">Eladó termék neve</label>
    <input type="text" id="productName" formControlName="productNameValue">


    <input type="file" (change)="onFileSelected($event)" multiple accept="image/*">
    <img *ngIf="userProfile1.profileImage" [src]="userProfile1.profileImage" alt="Profilkép" class="img-fluid">
    
    
    <label for="description">Leírás:</label>
    <input type="text" id="description" formControlName="descriptionValue">
    <label for="price">Ár:</label>
    <input type="number" id="price" formControlName="priceValue">
    <p>Ft</p>
    <button type="submit" class="btn btn-primary">Küldés</button>
    <button type="button" class="btn btn-primary" (click)="elrejt()">Elrejt</button>
  </div>
  
  <button class="jobboldaligomb" *ngIf="!buttonClicked" type="button" class="btn btn-primary" (click)="toggleForm()">Eladás</button>
</form>

  <div class="fokep">
    <div class="poszt" *ngFor="let post of posts">
      {{ post.title }}
      <img [src]="post.image" alt="{{ post.title }}" class="img-fluid" width="100px" height="100px">
      <div class="szavazas">

        <button class="btn btn-info" (click)="interestPost(post)">Érdekel</button>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
     
      <div class="col-md-6 baloldal">
        <ul class="list-group">
          <li class="list-group-item bg-success text-white">Eladó Termékek</li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="mb-2">Termék neve</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="text-end">
                <img src="https://via.placeholder.com/100" alt="Product Image" class="img-fluid">
              </div>
            </div>
            <div class="szavazas">

              <button class="btn btn-warning">Érdekel</button>
            </div>
          </li>
     
        </ul>
      </div>
  

      <div class="col-md-6 jobboldal">
        <ul class="list-group">
          <li class="list-group-item bg-primary text-white">Meghirdetett termékek</li>
          <li class="list-group-item">
            <h5 class="mb-2">Lorem Ipsum Dolor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mauris vel velit laoreet euismod.</p>
          </li>
          <li class="list-group-item">
            <h5 class="mb-2">Pellentesque Habitasse</h5>
            <p>Pellentesque habitasse morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          </li>
          <li class="list-group-item">
            <h5 class="mb-2">Curabitur Cursus</h5>
            <p>Curabitur cursus libero sit amet turpis malesuada, eu fermentum quam accumsan.</p>
          </li>
          <li class="list-group-item">
            <h5 class="mb-2">Sed Tempus</h5>
            <p>Sed tempus justo vel sapien dictum, non facilisis elit sagittis. Fusce eu odio in risus feugiat gravida.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  

