<form class="fajlfeltoltes">
  <p>Kérem töltse fel a meghirdetni kívánt tárgyat</p>

  <div *ngIf="buttonClicked" class="image-container">
    <label for="productName">Eladó termék neve</label>
    <input type="text" id="productName" formControlName="productNameValue">


    <input type="file" (change)="onFileSelected($event)" multiple accept="image/*">
    <img *ngIf="userProfile1.profileImage" [src]="userProfile1.profileImage" alt="Profilkép" class="img-fluid">


    <label for="description">Leírás:</label>
    <input type="text" id="description" formControlName="descriptionValue">
    <label for="price">Ár:</label>
    <input type="number" id="price" formControlName="priceValue">
    <p>Ft</p>
    <button type="submit" class="btn btn-primary">Küldés</button>
    <button type="button" class="btn btn-primary" (click)="elrejt()">Elrejt</button>
  </div>

  <button class="jobboldaligomb" *ngIf="!buttonClicked" type="button" class="btn btn-primary"
    (click)="toggleForm()">Eladás</button>
</form>

<div class="fokep">
  <div class="poszt" *ngFor="let post of posts">
    {{ post.title }}
    <img [src]="post.image" alt="{{ post.title }}" class="img-fluid" width="100px" height="100px">
    
    

  </div>
 
</div>

<div class="container mt-5">
  <div class="row">

    <div class="col-md-6 ">
      <ul class="list-group">
        <li class="list-group-item bg-success text-white">Eladó Termékek</li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="mb-2">Termék neve</h5>
              <p>Bicikli</p>
            </div>
            <div class="text-end">
              <p>Ár:15000Ft</p>
              <img src="https://via.placeholder.com/100" alt="Product Image" class="img-fluid">
              
            </div>
            
          </div>
          <!-- Your button -->
<button (click)="toggleUserInfo()">Érdekel</button>

<!-- User information section -->
<div class="szavazas" *ngIf="showUserInfo">
  <h3>User Information</h3>
  <p>Name: {{ selectedPostUser?.name }}</p>
  <p>Email: {{ selectedPostUser?.email }}</p>
</div>
          
        </li>

      </ul>
    </div>



    <div class="col-md-6 ">
      <ul class="list-group">
        <li class="list-group-item bg-primary text-white">Meghirdetett termékek</li>
        <li class="list-group-item">
          <h5 class="mb-2">Ingyen kanapé</h5>
          <p>Már nincs szükségünk a kanapéra, így elvihető ingyen. Ha érdeklődik előtte hívjon.</p>
          <div class="text-end">
            <button class="btn btn-info">Érdekel</button>
            <img src="https://via.placeholder.com/100" alt="Product Image" class="img-fluid">
          </div>
        </li>
        <li class="list-group-item">
          <h5 class="mb-2">Ingyen kanapé</h5>
          <p>Már nincs szükségünk a kanapéra, így elvihető ingyen. Ha érdeklődik előtte hívjon.</p>
          <div class="text-end">
            <button class="btn btn-info">Érdekel</button>
            <img src="https://via.placeholder.com/100" alt="Product Image" class="img-fluid">
          </div>
        </li>
        <li class="list-group-item">
          <h5 class="mb-2">Ingyen kanapé</h5>
          <p>Már nincs szükségünk a kanapéra, így elvihető ingyen. Ha érdeklődik előtte hívjon.</p>
          <div class="text-end">
            <button class="btn btn-info">Érdekel</button>
            <img src="https://via.placeholder.com/100" alt="Product Image" class="img-fluid">
          </div>
        </li>
        <li class="list-group-item">
          <h5 class="mb-2">Ingyen kanapé</h5>
          <p>Már nincs szükségünk a kanapéra, így elvihető ingyen. Ha érdeklődik előtte hívjon.</p>
          <div class="text-end">
            <button class="btn btn-info">Érdekel</button>
            <img src="https://via.placeholder.com/100" alt="Product Image" class="img-fluid">
          </div>
        </li>
        <li class="list-group-item">
          <h5 class="mb-2">Ingyen kanapé</h5>
          <p>Már nincs szükségünk a kanapéra, így elvihető ingyen. Ha érdeklődik előtte hívjon.</p>
          <div class="text-end">
            <button class="btn btn-info">Érdekel</button>
            <img src="https://via.placeholder.com/100" alt="Product Image" class="img-fluid">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>